---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.9.0
  creationTimestamp: null
  name: polardbxmonitors.polardbx.aliyun.com
spec:
  group: polardbx.aliyun.com
  names:
    kind: PolarDBXMonitor
    listKind: PolarDBXMonitorList
    plural: polardbxmonitors
    shortNames:
    - pxm
    - polardbxmonitor
    singular: polardbxmonitor
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .spec.clusterName
      name: CLUSTER
      type: string
    - jsonPath: .status.monitorSpecSnapshot.monitorInterval
      name: INTERVAL
      type: string
    - jsonPath: .status.monitorStatus
      name: STATUS
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: AGE
      type: date
    name: v1
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            properties:
              clusterName:
                type: string
              monitorInterval:
                default: 30s
                description: MonitorInterval define the metrics scrape interval
                type: string
              scrapeTimeout:
                default: 10s
                description: MonitorInterval define the metrics scrape interval
                type: string
            type: object
          status:
            properties:
              monitorSpecSnapshot:
                properties:
                  clusterName:
                    type: string
                  monitorInterval:
                    default: 30s
                    description: MonitorInterval define the metrics scrape interval
                    type: string
                  scrapeTimeout:
                    default: 10s
                    description: MonitorInterval define the metrics scrape interval
                    type: string
                type: object
              monitorStatus:
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources: {}
