---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.9.0
  creationTimestamp: null
  name: polardbxparametertemplates.polardbx.aliyun.com
spec:
  group: polardbx.aliyun.com
  names:
    kind: PolarDBXParameterTemplate
    listKind: PolarDBXParameterTemplateList
    plural: polardbxparametertemplates
    shortNames:
    - pxpt
    - polardbxpt
    - polardbxparametertemplate
    singular: polardbxparametertemplate
  scope: Namespaced
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            properties:
              name:
                description: TemplateName represents the service name of the parameter
                  template. Default is the same as the name.
                type: string
              nodeType:
                description: NodeType represents the type of the node parameters runs
                  on
                properties:
                  cn:
                    properties:
                      name:
                        type: string
                      paramList:
                        items:
                          properties:
                            defaultValue:
                              type: string
                            divisibilityFactor:
                              format: int64
                              type: integer
                            mode:
                              type: string
                            name:
                              type: string
                            optional:
                              type: string
                            restart:
                              type: boolean
                            unit:
                              type: string
                          type: object
                        type: array
                    type: object
                  dn:
                    properties:
                      name:
                        type: string
                      paramList:
                        items:
                          properties:
                            defaultValue:
                              type: string
                            divisibilityFactor:
                              format: int64
                              type: integer
                            mode:
                              type: string
                            name:
                              type: string
                            optional:
                              type: string
                            restart:
                              type: boolean
                            unit:
                              type: string
                          type: object
                        type: array
                    type: object
                  gms:
                    properties:
                      name:
                        type: string
                      paramList:
                        items:
                          properties:
                            defaultValue:
                              type: string
                            divisibilityFactor:
                              format: int64
                              type: integer
                            mode:
                              type: string
                            name:
                              type: string
                            optional:
                              type: string
                            restart:
                              type: boolean
                            unit:
                              type: string
                          type: object
                        type: array
                    type: object
                type: object
            required:
            - nodeType
            type: object
          status:
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
